{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./",
    "parser": {
      "decorators": true,
      "dynamicImport": true,
      "syntax": "typescript"
    }
  },
  "minify": false,
  "module": {
    "type": "es6"
  },
  "sourceMaps": true
}
